
{% extends "layout.html" %}
{% block content %}
<div id="navigation">
</div>
<div id="content">
	<h1>Max Fitton's Wonderful Web World</h1>
	<p> 
		Hello, and welcome to my website! Excuse the lack of polish--
		I'm one of those folks who believe the web has become a little
		bit bloated. By keeping my website bare-bones, I hope to spare you some bandwidth and loading time and to spare myself the time consuming process of making a complex website mobile friendly.
	</p>
	<p>
		On this site, you'll find a page with information about me, including my technical background and education, as well as a bit about who I am as a person. My contact information and resume also reside there.
	</p>
	<p>
		The projects page will highlight a few projects of mine that I'm most proud of, including work done for school as well as projects I've worked on in my spare time. Where possible, I've made my code open source.
	</p>
	<p>
		I have set a goal for myself to do some sort of work related to technology each day, whether that be coding, writing, reading, listening to conference talks, or any number of other activities I find worthwhile. If you want to see what I've been doing lately, head to the "What's Max up to?" page.
	</p>
	<p>
		Thanks for paying my site a visit, and I hope you can find something compelling here!
	</p>
</div>

{% endblock %}
